<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @user.dish %>
</p>

<p>
  <strong>Number of guests:</strong>
  <%= @user.number_of_guests %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user.note %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
