<nav class="nav navbar-default navbar-fixed-top">
  <div id="main_nav_bar">
    <ul class="nav nav-pills">
      <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#new_user_modal">JOIN THE PARTY</button>
      <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#info_modal">INFO/INFORMATION/KNOWLEDGE</button>
    </ul>
  </div>
</nav>

<div id="main_header">
  <div class="main_header_inner">
    <h1>WELCOME TO SOFTSGIVING XI</h1>
    <h1 class="intro_txt">We'll Always Have Each Other</h1>
    <hr>
  </div>
</div>

<div class="guest_header">
  <h1>Look Whose Coming and What They're Bringing</h1>
  <span class="count">Total Count(so far): <%= users_count %></span>
  <p>Click Names To Reveal More Info</p>
  Search: <%= select_tag 'search', options_for_select([''] + @users.sort_by(&:name).map{|u| [u.name, u.id]}), class: 'search_it' %>
  <span class="sort_sect">Sort By: <%= select_tag 'sort', options_for_select(['', ['Name', 'name'], ['Date Added', 'date']]), class: 'sort_it' %></span>
</div>

<hr>
<div id="guests_index">
  <% @users.each do |user| %>
    <div class="guest">
      <div class="clickable" id="<%= user.id %>">
        <h3><i class="fa fa-hand-spock-o" aria-hidden="true"></i>  <%= user.name %>  <i class="fa fa-hand-spock-o fa-flip-horizontal" aria-hidden="true"></i></h3>
        <div class="more_info">
          <h3>Dish:</h3>
          <h4><%= user.dish %></h4>
          <h3>Number Of Guests:</h3>
          <h4><%= user.number_of_guests %></h4>
          <h3>A Note</h3>
          <h4><%= user.note %></h4>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>



<!-- modal for new user form -->
<div class="modal fade n_u_m" id="new_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">WELCOME TO THE BEST FRIENDSGIVING OF YOUR LIFE</h2>
      </div>
      <div class="modal-body">
        <%= render partial: 'users/form', locals: { user: @user } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- modal for new user form -->
<div class="modal fade" id="info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">INFORMATION</h4>
      </div>
      <div class="modal-body info_content">
        <h2>When:</h2>
        <h4>Saturday, November 19th, 2016</h4>
        <h4>4PM - ??</h4>
        <hr>
        <h2>WHERE:</h2>
        <h4>13 Thames Street</h4>
        <h4>Third Floor</h4>
        <h4>Brooklyn, 11206</h4>
        <h5>(L train to Morgan Ave.)</h5>
        <hr>
        <h2>Questions:</h2>
        <h4>Reach Ellie at:<br/> <a class="phone" href="tel:202.904.7019">202.904.7019</a></h4>
        <h4>Reach Drew at:<br/> <a class="phone" href="tel:917.435.0181">917.435.0181</a></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
